<nav class="nav-extended teal accent-4">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li routerLinkActive="active"><a routerLink="/home" >Home</a></li>
        <li routerLinkActive="active"><a routerLink="/list-users">Users</a></li>
        <li routerLinkActive="active"><a routerLink="/login">Login</a></li>
        <li routerLinkActive="active"><a routerLink="/register">Register</a></li>
        <li routerLinkActive="active"><a routerLink="/recover">Recover</a></li>
        <li routerLinkActive="active"><a routerLink="/admin">Admin</a></li>
      </ul>
      <!-- esta es la movil -->
      <ul class="side-nav teal accent-1" id="mobile-demo">
        <li routerLinkActive="active"><a routerLink="/home">Home</a></li>
        <li routerLinkActive="active"><a routerLink="/list-users">Users</a></li>
        <li routerLinkActive="active"><a routerLink="/login">Login</a></li>
        <li routerLinkActive="active"><a routerLink="/register">Register</a></li>
        <li routerLinkActive="active"><a routerLink="/recover">Recover</a></li>
        <li routerLinkActive="active"><a routerLink="/admin">Admin</a></li>
      </ul>
    </div>
  </nav>