/* CSS to some details on colors and backgrounds nothing really important */
.side-nav{
  width: 180px;
  padding-top: 1rem;
}
.side-nav li>a:hover{
  background-color: rgba(0, 0, 0, 0);
}
.side-nav li > a{
  font-weight: normal;
  color:white;
}
.side-nav .active{
  background-color: rgba(0, 0, 0, 0.2);
}
 .nav-wrapper .brand-logo i {
  margin-left: 1rem; 
  margin-top: 0.05rem;
  font-size: 4rem;
} 
.nav-wrapper .side-nav .material-icons{
  padding-top: 1rem; 
  font-size: 5rem;
}
nav i.material-icons{
  height: 6rem;
  margin-bottom: 1rem;
}
.sidenav-footer{
  margin-top: 1rem;
  width: 100%;
  text-align: center;
  height: 4rem;
}
nav ul #sidenav-footer a{
  font-size: 1.8rem;
  padding: 0.5rem;
  display: inline;
}
@media only screen and (max-width: 992px){
#sidenav-footer a {padding: 0;}
}