<div class="row left-align">
  <div *ngIf="!auth.actualUser" class="col l12 s12">

    <br>

    <p class="flow-text">Login.</p>    

    <form [formGroup]="loginForm" (ngSubmit)="auth.loginUser(loginForm)" class="col s12">

      <div class="row">
        <div class="input-field col s12 l6">
          <i class="material-icons prefix">email</i>
          <input formControlName="email" id="icon_email" type="email" class="validate">
          <label for="icon_email">Email</label>
        </div>
        <div class="input-field col s12 l6">
          <i class="material-icons prefix">lock</i>
          <input formControlName="password" id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>

      <br>

      <!-- Esto solo se muestra si hay un error al registrarse -->
      <p *ngIf="auth.userError" class="errorMessage"><strong>{{auth.userError}}</strong></p>
      <!-- ******* -->
      <button class="btn waves-effect waves-light" type="submit">Login</button>

    </form>    
  </div>
  <div *ngIf="auth.actualUser" class="col l8 offset-l2 s12 center-align">
    
    <div class="row">
      <div class="col l8 offset-l2 s10 offset-s1 ">
        <br>
        <p class="flow-text">You started a session as "{{auth.actualUser}}". If this is not your account close session.</p>
      </div>
      <div class="col s12">
        <a (click)="auth.logoutUser()" class="waves-effect waves-light btn teal lighten-2"><i class="material-icons left">reply</i>Close Session</a>
      </div>
      <div class="col s12">
        <a class="waves-effect waves-light btn teal lighten-2"><i class="material-icons right">delete_forever</i>DELETE ACCOUNT</a>
      </div>
    </div>
  </div>
</div>