<div class="row left-align">
  <div  class="col l12 s12">
    <!-- Para mostrar la barra de progreso -->
    <div *ngIf="auth.loading" class="center-align">
      <div class="progress">
        <div class="indeterminate"></div>
      </div>
    </div>

    <div *ngFor="let x of auth.usersList">
        
        <div class="section">
          <h5>{{x.name}}</h5>
          <button (click)="imprimir(x.id)">imprimir consola</button>
          <div *ngIf="x.role;then content else other_content">here is ignored</div>
            <ng-template #content><p>Admin</p></ng-template>
            <ng-template #other_content><p>Common User</p></ng-template>
          <div class="divider"></div>
        </div>
      
    </div>
  </div>
</div>

