.input-field2 .prefix{
    position: absolute;
    width: 3rem;
    font-size: 2rem;
    transition: color .2s;
}
.input-field2 .switch{
    margin-left: 3rem;
}
.input-field2 {
    position: relative;
    margin-top: 1rem;
}