<div class="row left-align">
  <div class="col l12 s12">

    <br>

    <p class="flow-text">Fill in the data to add a new user.</p>    

    <form [formGroup]="registerForm" (ngSubmit)="auth.registerUser(registerForm)" class="col s12">

      <div class="row">
        <div class="input-field col s12 l6">
          <i class="material-icons prefix">account_box</i>
          <input formControlName="name"  id="icon_prefix" type="text" class="validate">
          <label for="icon_prefix">Name</label>
        </div>

        <div class="input-field col s12 l6">
          <i class="material-icons prefix">email</i>
          <input formControlName="email" id="icon_email" type="email" class="validate">
          <label for="icon_email">Email</label>
        </div>

        <div class="input-field col s12 l6">
          <i class="material-icons prefix">lock</i>
          <input formControlName="password" id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>

        <div class="input-field2 col s12 l6">
            <i class="material-icons prefix">supervisor_account</i>
            <div class="switch">
              <label>
                Common
                <input formControlName="role" type="checkbox">
                <span class="lever"></span>
                Admin
              </label>
            </div>
        </div>
      </div>

      <br>

      <!-- Esto solo se muestra si hay un error al registrarse -->
      <p *ngIf="auth.registerUserError" class="errorMessage"><strong>{{auth.registerUserError}}</strong></p>
      <!-- ******* -->
      <button class="btn waves-effect waves-light" type="submit">Register</button>

    </form>    
    </div>
</div>